<form  action="/addbook" method="post">
  <label for="first_name">Author first name
  <input type="text" name="first_name" value="">
  </label>
  <br>
  <label for="first_name">Author last name
  <input type="text" name="last_name" value="">
  </label>
  <br>
  <lable for= "title">Book title
  <input type="text" name="title" value="">
</lable>
  <br>
  <label for= "description">Book description
  <input type="text" name="description" value="">
</lable>
  <br>
  <button type="submit" >add book</button>

</form>
